.deps
.libs
.dirstamp
*.la
*.a
*.so
*.so.*
*.o
*.lo
Makefile
Makefile.in
aclocal.m4
aclocal-copy
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
pkg/compile
pkg/config.guess
pkg/config.sub
pkg/depcomp
pkg/install-sh
pkg/ltmain.sh
pkg/missing
pkg/pc_template
src/.deps/
stamp-h1
*.tar.bz2
*.tar.gz
out
sh4-poky-linux-libtool
i686-linux-libtool
singletask.lock
config.h.in~
pkg/m4/libtool.m4
pkg/m4/ltoptions.m4
pkg/m4/ltsugar.m4
pkg/m4/ltversion.m4
pkg/m4/lt~obsolete.m4

