[Unit]
Description=Async odatalite fcgi process on port 4200

[Service]
Type=forking
ExecStart=/usr/sbin/fcgistarter -c /usr/bin/fcgiodata-async -p 4200
RestartSec=10s

[Install]
WantedBy=multi-user.target network.target
