[Unit]
Description=Test fcgi process on port 4100

[Service]
Type=forking
ExecStart=/bin/sh -c "/usr/sbin/fcgistarter -c /usr/bin/fcgitest -p 4100; \
                      /bin/pidof fcgitest > /run/fcgitest.pid"
PIDFile=/run/fcgitest.pid
RestartSec=10s

[Install]
WantedBy=multi-user.target network.target
