[Unit]
Description=fcgi hello world on 5200

[Service]
Type=simple
ExecStart=/usr/bin/fcgi-zmq-hello-world
RestartSec=10s
StandardInput=socket
User=odatalite
Group=odatalite
