[Unit]
Description=fcgi authenticator/authorizer

[Service]
Type=simple
ExecStart=/usr/bin/fcgiauth
RestartSec=10s
NotifyAccess=main
StandardInput=socket
User=fcgiauth
Group=fcgiauth
