[Unit]
Description=Async odatalite fcgi process on port 4200

[Service]
Type=notify
ExecStart=/usr/bin/fcgiodata
RestartSec=10s
WatchdogSec=10s
NotifyAccess=main
StandardInput=socket
User=odatalite
Group=odatalite
